body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: white;
}

/* header */
header {
    background: black;
    padding: 20px;
    border-bottom: 2px solid #333;
}

header h1 {
    margin: 0;
    font-size: 32px;
    color: #ff2ea6;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #ff2ea6;
}

/* grid */
.grid-container {
    max-width: 900px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* profile cards */
.profile-card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.25s;
    border: 2px solid #222;
}

.profile-card:hover {
    transform: scale(1.05);
    border: 2px solid #ff2ea6;
}

/* images */
.profile-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ff2ea6;
    margin-bottom: 10px;
}

/* profile page */
.profile-page {
    text-align: center;
    margin-top: 40px;
}

.profile-large {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ff2ea6;
}

.bio {
    max-width: 500px;
    margin: 20px auto;
    font-size: 18px;
}

.join {
    color: gray;
}

/* stats bar */
.stats-bar {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 25px 0;
    font-size: 18px;
}

.stat {
    text-align: center;
}

.stat strong {
    display: block;
    font-size: 22px;
    color: #ff2ea6;
}

.stat span {
    color: gray;
}
/* end stats bar section : tentatively pink*/

/* divider */
.divider {
    margin: 40px auto;
    width: 60%;
    border: 0.5px solid #333;
}

/* section title */
.section-title {
    text-align: center;
    margin-bottom: 20px;
    color: #ff2ea6;
}

/* fake post grid */
.post-grid {
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

/* fake posts */
.post {
    width: 100%;
    padding-top: 100%;
    background: linear-gradient(45deg, #222, #333);
    border-radius: 8px;
    border: 1px solid #444;
    transition: 0.2s;
}

.post:hover {
    transform: scale(1.03);
    border: 1px solid #ff2ea6;
}
