<!-- mini_insta/template/mini_insta/show_post.html -->

{% extends "mini_insta/base.html" %}

{% block content %}

<h1>Post</h1>

<p><strong>{{ post.get_num_likes }}</strong> likes</p>

<h2>{{ post.profile.display_name }}</h2>
<p>{{ post.caption }}</p>
<p>{{ post.timestamp }}</p>

<a href="{% url 'delete_post' post.pk %}">Delete Post</a>
<a href="{% url 'update_post' post.pk %}">Update Post</a>

<h3>Comments</h3>

    {% for comment in post.get_all_comments %}
        <p>
            <strong>{{ comment.profile.display_name }}</strong>:
            {{ comment.text }}
        </p>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}

<hr>

<h3>Photos</h3>

{% for photo in post.get_all_photos %}
    <!-- <img src="{{ photo.get_image_url }}" style="width:300px;"> -->
    <img src="{{ photo.image_file.url }}" style="width:300px;">
{% endfor %}

<br><br>
<a href="{% url 'show_profile' post.profile.pk %}">← Back to Profile</a>

{% endblock %}
