<!-- mini_insta/template/mini_insta/show_profile.html -->

{% extends "mini_insta/base.html" %}

{% block content %}

<div class="profile-page">


    <img class="profile-large" src="{{ profile.profile_image_url }}">

        <div class="new-post">
            <a href="{% url 'create_post' profile.pk %}">
                <button>Create New Post</button>
             </a>
        </div>

    <h1>{{ profile.display_name }}</h1>
    <h3>@{{ profile.username }}</h3>

    <!-- stats bar -->
    <div class="stats-bar">
        <div class="stat">
            <strong>{{ profile.get_all_posts|length }}</strong>
            <span>Posts</span>
        </div>
        <div class="stat">
            <strong>534</strong>
            <span>Followers</span>
        </div>
        <div class="stat">
            <strong>180</strong>
            <span>Following</span>
        </div>
    </div>

        <p class="bio">{{ profile.bio_text }}</p>
        <p class="join">Joined: {{ profile.join_date }}</p>

        <hr class="divider">

        <h2 class="section-title">Posts</h2>

        <div class="post-grid">

        {% for post in profile.get_all_posts %}

            <a href="{% url 'show_post' post.pk %}">
            <div class="post">


                {% if post.get_all_photos %}
                    <img src="{{ post.get_all_photos.0.image_url }}" style="width:150px;height:150px;object-fit:cover;">
                {% else %}
                    <img src="https://via.placeholder.com/150">
                {% endif %}

                <p>{{ post.caption }}</p>
                <small>{{ post.timestamp }}</small>

            </div>
        </a>


        {% endfor %}

        </div>


</div>

{% endblock %}
